[user]
	name = Edwin Mo
	email = edwin.mo@live.com

[alias]
    st = status
    cm = commit
    pom = push origin master

[core]
	excludesfile = /home/edwinmo/.gitignore_global

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
    tool = vimdiff
